* {
	background-color: #F5F5DC;
}

body {
	font-family: Handlee; Sans-Serif;
	padding-top: 20px;
    background-color: #F5F5DC; /* #9aa38a */
}

h1.title {
	letter-spacing: -1px;
	vertical-align: top;
	text-align: center;
	margin: 20px 0 0 0;
	padding-top: 20px;
	color: #331e1d;
	font-size: 48px;
}

img.logo {
	width: 150px;
}

img.main {
	width: 320px;
}

img.oval_images {
	width: 320px;
	border-radius: 50%;
	box-shadow: 5px 5px 15px #333333;
	border: 2px solid black;
}

ul.nav {
	padding: 0 0 45px 0;
}

ul.nav li {
	list-style: none;
	float: right;
	vertical-align: bottom;
	padding: 0 0 0 20px;
}

ul.nav li a {
	text-decoration: none;
	color: #F5F5DC;
	background-color: #331e1d;
	padding: 5px 15px 0px 15px;
	font-size: 24px;
	border-radius: 10px;
}

ul.resources {
	padding: 0 0 45px 0;
}

ul.resources li {
	list-style: none;
}

ul.resources li a {
	font-size: 24px;
	margin-left: 50px;
	color: #4e3226;
}

.button:hover {
	background-color: #9aa38a;
	color: #331e1d;
}

.footer {
	border-top: 1px solid #333322;
	color: #333322;
	text-align: center;
}

p.about {
	color: #202018;
	letter-spacing: .5px;
	font-size: 24px;
}

p.dogs {
	color: #202018;
	letter-spacing: .5px;
	font-size: 24px; 
	margin: 15px 0px 0px 50px;
}

address {
	color: #202018;
	font-size: 24px;
	text-align: center;
}

address a {
	text-decoration: none;
	color: #202018;
}

#books a {
    text-decoration: none;
    color: inherit;
}